/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
    background-image: url("images/blood.jpg");
    background-position: center;
    color: white;
}

.jumbotron-inner {
    padding: 2.5%;
    background: rgba(24, 24, 24, 0.67);
}